h1{
    text-align: center;
}
body{
    background-color: rgb(156, 236, 210);
}
#id{
    border-radius: 10px;
    border: 3px solid rgb(201, 159, 159);
}
#name{
    border-radius: 10px;
    border: 3px solid rgb(201, 159, 159);
}
#email{
    border-radius: 10px;
    border: 3px solid rgb(201, 159, 159);
}
#class{
    border-radius: 10px;
    border: 3px solid rgb(201, 159, 159);
}
#role{
    border-radius: 10px;
    border: 3px solid rgb(201, 159, 159);
}
.add{
    border-radius: 5px;
}